<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>VueJS project - SABLON | GABBAY | DIABI</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
        />
        <link rel="stylesheet" href="styles.css" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
        />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    </head>

    <body>
        <!-- Knobs by Kyle Shanks :
            https://codepen.io/mavrK/pen/erQPvP -->

        <div id="app" @mouseUp="unselectKnobs">
            <div class="knob-container">
                <div class="rela-block container">
                    <!-- Effects -->
                    <div
                        v-for="effect in effects"
                        class="rela-inline effect-container"
                        @mouseDown="effect.selected = true;"
                    >
                        <div class="rela-block effect-label">
                            <div
                                class="rela-inline effect-active-light"
                                :style="{'background-color': effect.active?effect.color:'#888'}"
                                @click="effect.active = !effect.active"
                            ></div>
                            {{ effect.label }}
                        </div>
                        <div class="rela-block knob-container">
                            <div
                                v-for="knob in effect.knobs"
                                :class="['rela-inline', 'knob', 'style'+effect.knobStyle]"
                            >
                                <div
                                    class="rela-block knob-dial"
                                    :style="{'color':effect.active?effect.color:'#888'}"
                                >
                                    <div
                                        class="abs-center dial-grip"
                                        :style="{'transform': 'translate(-50%,-50%) rotate('+knob.rotation+'deg)'}"
                                        @mouseDown="knob.selected = true; currentY = event.pageY; event.preventDefault()"
                                    ></div>
                                    <svg class="dial-svg" viewBox="0 0 100 100">
                                        <path
                                            d="M20,76 A 40 40 0 1 1 80 76"
                                            fill="none"
                                            stroke="#55595C"
                                        />
                                        <path
                                            d="M20,76 A 40 40 0 1 1 80 76"
                                            fill="none"
                                            :stroke="effect.active?effect.color:'#888'"
                                            :style="{'stroke-dashoffset':184 - 184*((knob.rotation*1 + 132)/264)}"
                                        />
                                    </svg>
                                </div>
                                <div
                                    class="rela-block knob-label"
                                    :style="{'color':effect.active?'#E4E8EA':'#888'}"
                                >
                                    {{ knob.label }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <!-- Knobs -->
                    <div
                        v-for="knob in knobs"
                        :class="['rela-inline', 'knob', 'style'+knob.style]"
                    >
                        <div
                            class="knob-active-light"
                            :style="{'background-color': knob.active?knob.color:'#888'}"
                            @click="knob.active = !knob.active"
                        ></div>
                        <div
                            class="rela-block knob-dial"
                            :style="{'color':knob.active?knob.color:'#888'}"
                        >
                            <div
                                class="abs-center dial-grip"
                                :style="{'transform': 'translate(-50%,-50%) rotate('+knob.rotation+'deg)'}"
                                @mouseDown="knob.selected = true; app.currentY = event.pageY; event.preventDefault()"
                            ></div>
                            <svg class="dial-svg" viewBox="0 0 100 100">
                                <path
                                    d="M20,76 A 40 40 0 1 1 80 76"
                                    fill="none"
                                    stroke="#55595C"
                                />
                                <path
                                    d="M20,76 A 40 40 0 1 1 80 76"
                                    fill="none"
                                    :stroke="knob.active?knob.color:'#888'"
                                    :style="{'stroke-dashoffset':184 - 184*((knob.rotation*1 + 132)/264)}"
                                />
                            </svg>
                        </div>
                        <div
                            class="rela-block knob-label"
                            :style="{'color':knob.active?'#E4E8EA':'#888'}"
                        >
                            {{ knob.label }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="transport-btns">
                <button class="btn btn-5"><i class="fa fa-play"></i></button>
                <button class="btn btn-5"><i class="fa fa-pause"></i></button>
                <button class="btn btn-5"><i class="fa fa-fast-backward""></i></button>
            </div>
        </div>

        <script src="script.js"></script>
    </body>
</html>
