* {
    box-sizing: border-box;
    transition: 0.3s cubic-bezier(0.6, 0, 0.2, 1);
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vert-center {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horz-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.rela-block {
    display: block;
    position: relative;
}

.rela-inline {
    display: inline-block;
    position: relative;
}

.left {
    position: relative;
    float: left;
}

.right {
    position: relative;
    float: right;
}

body {
    transition: 0s;
    background-color: #181b1c;
    font-family: monospace;
    color: #e4e8ea;
    font-size: 16px;
}

.container {
    margin: 20px auto;
    max-width: 700px;
    text-align: center;
}

.effect-container {
    width: 140px;
    border-radius: 3px;
    text-align: center;
    margin: 0 10px 20px;
    background-color: #2c2d2f;
}

.effect-container.wide {
    width: auto;
}

.effect-container .knob {
    padding: 0;
    margin: 0 0 10px;
}

.effect-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 0 10px 10px;
    border-bottom: 4px solid #181b1c;
}

.effect-active-light {
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.knob-container {
    padding: 10px 0;
}

.knob {
    border-radius: 3px;
    padding: 20px;
    background-color: #2c2d2f;
    margin: 0 10px 10px 0;
}

.knob.style1 .dial-grip {
    height: 72px;
    width: 72px;
    border: 6px solid #181b1c;
}

.knob.style1 .dial-grip::after {
    position: absolute;
    top: 5px;
    left: 50%;
    height: 10px;
    background-color: #e4e8ea;
}

.knob.style2 .dial-svg {
    stroke-width: 2.5;
}

.knob.style2 .dial-grip {
    height: 60px;
    width: 60px;
    background-color: #888;
}

.knob.style2 .dial-grip::after {
    height: 15px;
    background-color: #2c2d2f;
}

.knob.style3 .dial-svg {
    stroke-width: 2.75;
}

.knob.style3 .dial-grip {
    z-index: 5;
    height: 82px;
    width: 82px;
    transition: 0.3s cubic-bezier(0, 0, 0.24, 1);
}

.knob.style3 .dial-grip::after {
    height: 25px;
    width: 3px;
    border-radius: 4px;
    background-color: currentColor;
}

.knob-active-light {
    position: absolute;
    top: 12px;
    left: 12px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.knob-dial {
    height: 100px;
    width: 100px;
    text-align: left !important;
    transition: 0s;
}

.dial-grip {
    border-radius: 100%;
    transition: 0s;
}

.dial-grip::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dial-svg {
    pointer-events: none;
    position: absolute;
    stroke-width: 8;
    stroke-dasharray: 184 184;
    stroke-linecap: round !important;
}

.dial-svg path {
    transition: 0.3s cubic-bezier(0, 0, 0.24, 1);
}

.knob-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Transport Buttons */
.btn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
